@media (max-width: 1400px){
    ._container {
        max-width: 1000px;
    }
    .about{
        &__row{
            padding-bottom: 50px;
        }
    }

}
@media (max-width: 1200px){
    ._container {
        max-width: 970px;
    }
}
@media (max-width: 992px){
    .footer{
        &__top{
            flex-direction: column;
            align-items: flex-start;
            max-width: 50%;
            margin: 0 auto;
        }
        &__item{
            margin-bottom: 20px;
            flex: 0 0 100%;
            &:last-child{
                margin-bottom: 0;
            }
            &__title{
                margin: 0 0 10px 0;
            }
            // ul{
            //     display: none;
            //     padding: 15px 10px;
            //     box-shadow: inset -2px -2px 6px rgba(255 , 255 , 255, 0.1),
            //     inset 2px 2px 6px rgba(0, 0, 0, 0.8);
            // }
        }
        // &__item{
        //     width: 100%;
        // }
        // &__title{
        //     display: flex; 
        //     justify-content: space-between;
        //     align-items: center;    
        //     padding: 15px 20px;
        //     width: 100%;
        //     box-shadow: -2px -2px 6px rgba(255 , 255 , 255, 0.1),
        //     2px 2px 6px rgba(0, 0, 0, 0.8);
        //     margin-bottom: 0;
        //     span{
        //         transition: all .3s ease-in;
        //         display: block;
        //         width: 10px;
        //         height: 10px; 
        //         transform: rotate(-45deg);
        //         border-bottom: 1px solid $white;
        //         border-top: 1px solid transparent;
        //         border-right: 1px solid $white;
        //         border-left: 1px solid transparent;
        //         transition: all .3s ease;
        //     }
        //     &_active{
        //         color: $white;
        //         span{
        //             transform: rotate(45deg); 
        //             border-right-color: $red;
        //             border-bottom-color: $red;
        //         }
        //     }
        // }
    }
    .title{
        font-size: 24px;
    }
    .portfolio{
        &__content{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    #marker{
        display: none;
    }
    ._container {
        max-width: 750px;
    }
   
    .menu-btn{
        display: block;
    }
    .about{
      &__text{
          font-size: 12px;
      }

    }
    .header{
        .menu{
           nav{
              .ul_active{
                    //  transform: translateY(0%);
                    opacity: 1;
                    visibility: visible;
                    }
               ul{
               width: 100%;
               height: 100%;
               position: fixed;
               top: 0;
               left: 0;
               background: $white;
               padding: 20px 0 20px 0;
               display: flex;
               justify-content: center;
               align-items: center;
               z-index: 1;
                flex-direction: column;
                opacity: 0;
                visibility: hidden;
                // transform: translateY(-100%);
                transition: all .3s ease-in;
                overflow: auto;
                .menu-element{
                    color: $black;
                    font-size: 20px;
                }
                    .menu-element_active a{
                        color: $red;
                        font-weight: 700;
                        border-bottom: 2px solid $red;
                    }
                li{
                    margin: 15px 0;
                    text-transform: uppercase;
                }
                &:after{
                    content:'';
                    position: fixed;
                    background: $black;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 80px;
                }
               }
               
           }  
           .languages {
            &__icon{
                cursor: pointer;
                width: 25px;
            }
            &__menu{

                right: 15px;

            }

         }          
        }

        }   
        .header_active{
            .menu{
                nav{
                    ul{
                    &:after{
                        content:'';
                        position: fixed;
                        background: $black;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 50px;
                    }
                }
                }
            }
        }
        .header_active-white{
            .menu{
                nav{
                    ul{
                    background: $black;
                    .menu-element{
                        color: $white;
                    }
                    &:after{
                        content:'';
                        position: fixed;
                        background: $white;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 50px;
                    }
                }
                }
            }
        }
        .about{
            &__row{
                padding-bottom: 0px;
            }
        }


    .section-main{
        &__title{
            font-size: 30px;
        }
        &__subtitle{
            font-size: 16px;
            line-height: 21px;
        }
    }
    }
   


@media (max-width: 767px){
    ._container {
        max-width: none;
    }
    .slider{
        padding: 40px 0 70px 0;
        .slick-dots{
            bottom: -40px;
        }
    }
    .portfolio{
        &__content{
            grid-template-columns: 1fr;
        }
    }
    .about{
        &__row{
            flex-direction: column;
            
        }
        &__image{
            margin: 0 auto;
            width: auto; 
            &::after{
                display: none;
            } 
        }
        &__image img{
            border-radius: 10px 10px 0 0; 
            width: 100%;
        }

    }
    .footer{
        &__top{
            max-width: 80%;
        }
    }
}

@media (max-width: 480px){
    .form{
        &__inputs{
            flex-direction: column;
            margin-bottom: 0px;
        }
        &__item{
            flex: 0 0 100%;
            margin-bottom: 20px;
        }
        &__textarea{
            height: 200px;
            margin-bottom: 0px;
        }
    }
    .about{
        &__text{
            font-size: 14px;
        }
  
      }
    .section-main{
        &__title{
            
            font-size: 25px;
        }
        &__subtitle{
            font-size: 13px;
            line-height: 18px;
        }
    }
    .about{
        &__row{
            background: transparent;
        }
        &__image{
            width: 100%;
            &::after{
                display: block;
                bottom: 0;
                transform: translateX(-50%);
                border-left: 10px solid transparent;
                border-bottom: 10px solid $black;
                border-right: 10px solid transparent;
                transform: translateX(50%);
                right: 50%;
                
            }
        }
        &__image img{
            border-radius: 10px 10px 0 0; 
            width: 100%;
        }

    }
    .footer{
        &__top{
            max-width: none;
        }
    }
}

@media(max-height: 480px) { 
   .header{
    height: 60px;
       &__row{
        height: 60px;
       }
       .menu{
        nav{
            ul{
            &:after{
                content:'';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 60px;
            }
        }
        }
    }
       .menu{
        .languages{
            &__menu{
                transform: translateY(-20px);
                transition: all .5s ease-in-out;

            }

        }
    }
   }
   .header_active {
    height: 40px;
    transition: all .5s ease-in-out;
    .menu{
        nav{
            ul{
            &:after{
                content:'';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 40px;
            }
        }
        }
    }
    .header__row {
        height: 40px;
    }
    .menu{
        .languages{
            &__menu{
                transform: translateY(-40px);
                transition: all .5s ease-in-out;

            }

        }
    }
}

  }

  @media(max-height: 320px) { 
    .header{
     height: 50px;
        &__row{
         height: 50px;
        }
        .menu{
         .languages{
             &__menu{
                 transform: translateY(-30px);
                 transition: all .5s ease-in-out;
 
             }
 
         }
     }
     .menu{
        nav{
            ul{
            &:after{
                content:'';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 50px;
            }
        }
        }
    }
    }
    .header_active {
     height: 40px;
     transition: all .5s ease-in-out;
 
     .header__row {
         height: 40px;
     }
     .menu{
        nav{
            ul{
            &:after{
                content:'';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 40px;
            }
        }
        }
    }
     .menu{
         .languages{
             &__menu{
                 transform: translateY(-40px);
                 transition: all .5s ease-in-out;
 
             }
 
         }
     }
 }
   }