@media (max-width: 1400px){
    ._container {
        max-width: 1000px;
    }
    .about{
        &__row{
            padding-bottom: 50px;
        }
    }

}
@media (max-width: 1200px){
    ._container {
        max-width: 970px;
    }
}
@media (max-width: 992px){
    
    #marker{
        display: none;
    }
    ._container {
        max-width: 750px;
    }
   
    .menu-btn{
        display: block;
    }
    .about{
      &__text{
          font-size: 12px;
      }

    }
    .header{
        .menu{
           nav{
              .ul_active{

                     transform: translateY(0%);
                    }
               ul{
               height: 100vh;
               width: 100vw;
               position: fixed;
               top: 0;
               left: 0;
               background: $black;
               display: flex;
               justify-content: center;
               align-items: center;
               z-index: 1;
                flex-direction: column;
                transform: translateY(-100%);
                transition: all .3s ease-in;
                 overflow: auto;
                // el active
                    .menu-element_active a{
                        color: $red;
                        font-weight: 700;
                        border-bottom: 1px solid $red;
                    }
                li{
                    margin: 15px 0;
                    text-transform: uppercase;
                }
               }
           }  
           .languages {
            &__icon{
                cursor: pointer;
                width: 25px;
            }
            &__menu{

                right: 15px;

            }

         }          
        }

        }   
        .about{
            &__row{
                padding-bottom: 0px;
            }
        }
        .header_active-white{
         .menu{
            nav  {
                ul{
                    background: #fff;
                    color: #111;
                }
            }   
         }  
     
} 

    .section-main{
        &__title{
            font-size: 30px;
        }
        &__subtitle{
            font-size: 16px;
            line-height: 21px;
        }
    }
    }
   


@media (max-width: 767px){
    ._container {
        max-width: none;
    }
    .slider{
        padding: 40px 0 70px 0;
        .slick-dots{
            bottom: -40px;
        }
    }
    .about{
        &__row{
            flex-direction: column;
            
        }
        &__image{
            margin: 0 auto;
            width: auto; 
            &::after{
                display: none;
            } 
        }
        &__image img{
            border-radius: 50%; 
            width: 100%;
        }

    }
    .title{
        margin: 0 0 50px 0;
    }
}

@media (max-width: 450px){
    .about{
        &__text{
            font-size: 14px;
        }
  
      }
    .section-main{
        &__title{
            
            font-size: 25px;
        }
        &__subtitle{
            font-size: 13px;
            line-height: 18px;
        }
    }
    .about{
        &__row{
            background: transparent;
            border-radius: 0;
        }
        &__image{
            width: 100%;
            &::after{
                display: block;
                bottom: 0;
                transform: translateX(-50%);
                border-left: 10px solid transparent;
                border-bottom: 10px solid $black;
                border-right: 10px solid transparent;
                transform: translateX(50%);
                right: 50%;
                
            }
        }
        &__image img{
            border-radius: 10px 10px 0 0; 
            width: 100%;
        }

    }
}