
    .about {

        z-index: 10;
        background: #111;
        min-height: 100vh;
        width: 100%;
        color: #fff;
         padding-bottom: 100px; 
        // display: flex;
        // justify-content: center;
        // align-items: center;

       &__row{
        display: flex;
        // justify-content: space-between;
        // align-items: center;
        background: #131419;  
        box-shadow: -5px -5px 10px rgba(255 , 255 , 255, 0.05),
        5px 5px 15px rgba(0, 0, 0, 0.5); 
          
       }
       &__image img{
           transition: all .3s ease-in-out;
           border-radius: 10px 0 0 10px; 
            width: 100%;
           
       }
       &__image{
            // box-shadow: -5px -5px 10px rgba(255 , 255 , 255, 0.05),
            //             5px 5px 15px rgba(0, 0, 0, 0.5);  
            // background: #131419;  
           flex: 1 0 50%;
            // margin-right: 200px; 
             
       }
       &__image:hover img{
        //    border-radius: 50%;

       }
       &__descr{
        padding: 40px 20px;
        // background: #131419;
        // box-shadow: -5px -5px 10px rgba(255 , 255 , 255, 0.05),
        //                 5px 5px 15px rgba(0, 0, 0, 0.5);  
        border-radius:0 10px 10px 0;
        
            
       }
       &__title{
           font-weight: 700;
           margin-bottom: 20px;
           font-size: 20px;
       }

       &__text{
           color: #eee;
           margin-bottom: 40px;  
           line-height: 16px;
       }
    }