
    .about {

        z-index: 10;
        background: $black;
        // min-height: 100vh;
        
        width: 100%;
        color: $white;

       &__row{
        display: flex;
        padding-bottom: 100px;
        // background: #131419; 
        // border-radius: 10px; 
        // box-shadow: -5px -5px 10px rgba(255 , 255 , 255, 0.05),
        // 5px 5px 15px rgba(0, 0, 0, 0.5); 
          
       }
       .title{
        margin: 0 0 90px 0;
        padding-top: 100px;
       }
       &__image img{

           border-radius: 10px 0 0 10px; 
           
       }
       &__image{
         width: 100%;  
         height: 100%;
         position: relative;
         &::after{
             content: '';
             position: absolute;
             border-top: 10px solid transparent;
             border-bottom: 10px solid transparent;
             border-right: 10px solid $black;
             top: 50%;
             transform: translateY(-50%);
             right: 0;
         }  
       }
      
       &__descr{
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
            
       }
       &__title{
           font-weight: 700;
           margin-bottom: 10px;
           font-size: 20px;
           span{
               font-weight: 500;
               font-size: 16px;
               color: $dark-grey;
           }
           &::after{
               content: '';
               display: inline-block;
               height: 1px;
               width: 30px;
               background: $red;
           }
       }

       &__text{
           color: $light-grey;
           margin-bottom: 40px;  
           line-height: 16px;
       }
       &__footer{
           
           display: flex;
           justify-content: space-between;
       }
       &__link{
        // width: 60px;
        // height: 60px;   
        // display: inline-block;
        // border-radius: 50%;
        // border: 5px solid $white;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // transition: all .3s ease-in;
        &:hover{
            border-color: #000;
            box-shadow: 0px 0px 35px #000;
            color: #000;
            svg{
                path{
                   fill: #000; 
                }
                
            }
    
        }
           .img-svg{
                width: 37px;
            
                path{
                    transition: all .3s ease-in;
                }
           }
       }
    }