.btn{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #5a84a2;
    font-size: 18px;
    border-radius: 40px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
        -2px -2px 12px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.1),
        2px 2px 8px rgba(0, 0, 0, 0.15);

    &:hover {
        box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
            inset -2px -2px 12px rgba(255, 255, 255, 0.5),
            inset 2px 2px 4px rgba(255, 255, 255, 0.1),
            inset 2px 2px 8px rgba(0, 0, 0, 0.15);

        span {
            display: inline-block;
            transform: scale(0.98);
        }
    }
    &_dark{
        background: $black;
        box-shadow: -2px -2px 6px rgba(255 , 255 , 255, 0.1),
                    2px 2px 6px rgba(0, 0, 0, 0.8);
                    &:hover{
                        color: #006c9c;
                        box-shadow: inset -2px -2px 6px rgba(255 , 255 , 255, 0.1),
                        inset 2px 2px 6px rgba(0, 0, 0, 0.8);
                    }
    }
}