.footer{
    position: relative;
    background: $black;
    margin: 150px 0 0 0;


    &__row{
        color: $white;
        padding-bottom: 20px;
        
    }
    &__svg{
        position: relative;
        top: 0;
        left: 0;
        transform: translateY(-100%);
    }
    &__channel{
        display: flex;
    }
    &__subscribe{
        color: $white;
    }
    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__copyright{
        color: $dark-grey;
    }

    #scrollTop{
        position: absolute;
        bottom: 60px;
        right: 30px;
        background-color: $red;
        // border-radius: 50%;
        width: 50px;
        height: 50px; 
        transform:translateY(-50px);
        transition: all .3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        @media (min-width: 992px){
            &:hover{
                background: transparent;
            }
         }

        img{
            width: 20px;
        }
        &.scrollTop_active{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    }
    &__item{
        flex: 0 0 48%;
    }
    &__top{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        transform: translateY(-100px);

        ul{
            display: block;
            
            li{
                margin-bottom: 10px;
             

                a{
                    color: $light-grey;
                    line-height: 1.3em;
                    position: relative;
                    padding-left: 15px;
                    transition: all .3s ease-in-out;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 8.5px;
                        left: 0;
                        transform: translateY(-50%);
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background: $light-grey;
                        transition: all .3s ease-in-out;
                    }

                        @media(min-width: 992px){

                        &:hover{

  
                            &:before{
                                        background: $red;
                                    }
                        }
                        
                    }

                }
            }
        }
    }
    &__politic{
        a{
            position: relative;
            color: $red;
            transition: all .3s ease-in;
            padding-bottom: 1px;
            &:before{
                content: '';
                position: absolute;
                height: 1px;
                width: 100%;
                background: $red;
                bottom: 0px;
                left: 0;
                opacity: 1;
                transition: all .3s ease-in;
            }
            @media(min-width: 767px){
                
          
            &:hover{
                color: $red;
                &:before{
                opacity: 0;
                bottom: -3px;
            }
            }
              
        }
        }
    }
    &__title{
        font-size: 20px;
        margin-bottom: 10px;
        color: $white;
    }
}
