.portfolio{
    background: $white;
    padding: 80px 0;
    &__content{
        opacity: 0;
        visibility: hidden;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: all .3s ease-in-out;
        &_active{
            opacity: 1;
            visibility: visible;
            display: flex;
        }
    }
    &__tabs{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $black;
        box-shadow: -2px -2px 6px rgba(255 , 255 , 255, 0.1),
                    2px 2px 6px rgba(0, 0, 0, 0.8);
        border-radius: 8px;
        margin-bottom: 30px;
        overflow: hidden;
    }
    &__tab{
            color: $white;
            position: relative;
            padding: 20px 15px;   
            cursor: pointer; 
            transition: all .3s ease-in-out;
            overflow: hidden;
            z-index: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: $red;
                bottom: -95%;
                left: 0;
                z-index: -1;
                transition: all .3s ease-in-out;
            }
            @media (min-width: 767px){
                
               &:hover{
                &::before{
                    bottom: 0;
                    top: auto;
                }  
            } 
            }
            
            &_active{
                background: $red;
                &::before{
                    bottom: 0;
                    top: auto;
                }  
                
            }   
            &:hover{
                border-color: $red;
            }
            
    }
    &__item{
        flex: 0 0 calc(33% - 15px);
        position: relative;
        overflow: hidden;
        margin: 0 0 30px 0;
        border-radius: 8px;
        @media (min-width: 767px){
           &:hover .portfolio__img img{
            transform: rotate(-30deg) scale(2);
            filter: blur(2px);
        }
        &:hover .portfolio__container::before{
            transform: translateX(92%) rotate(45deg) scale(2);
            opacity: 0.6;
        }
        &:hover .portfolio__container::after{
            transform: translateX(-92%) rotate(45deg) scale(2);
            opacity: 0.6;
        }
        &:hover .portfolio__category{
            opacity: 1;
            transform: translateY(0%);
        }
        &:hover .portfolio__title{
            opacity: 1;
        } 
        }
        &_active{
             .portfolio__img img{
                transform: rotate(-30deg) scale(2);
                filter: blur(2px);
            }
             .portfolio__container::before{
                transform: translateX(92%) rotate(45deg) scale(2);
                opacity: 0.6;
            }
             .portfolio__container::after{
                transform: translateX(-92%) rotate(45deg) scale(2);
                opacity: 0.6;
            }
             .portfolio__category{
                opacity: 1;
                transform: translateY(0%);
            }
             .portfolio__title{
                opacity: 1;
            } 
        }
    }
    &__img{
        width: 100%;
        height: auto;
        overflow: hidden;
        
    }
    &__img img{
        width: 100%;
        height: auto;
        transition: all .3s ease-in-out;
    }
    &__title{
        font-weight: 700;
        font-size: 24px;
        opacity: 0;
        transition: all .3s ease-in-out;
        margin-bottom: 5px;
    }
    &__category{
        font-weight: 400;
        color: $light-grey;
        font-size: 16px;
        opacity: 0;
        transform: translateY(200%);
        transition: all .3s ease-in-out;
    }
    &__container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &::before{
            left: 0;
            transform: translateX(-125%) rotate(45deg);
            
        }
        &::after{
            right: 0;
            transform: translateX(125%) rotate(45deg);
        }
    }
    &__container::before, &__container::after{
        content: '';
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        opacity: 0.1;
        background: $red;
        transition: all .3s ease-in-out;
    }
    &__text{
        position: absolute;
       color: $white;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
       flex-direction: column;
       z-index: 1;

    }

}