.questions{
    width: 100%;
    padding: 0 0 100px 0;
    background: #fff;
    .block{
        &__row{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
        }
        &__item{
            width: 100%;
            margin-bottom: 10px;

        }
        
        &__title{
            font-size: 20px;
            position: relative;
            cursor: pointer;
            width: 100%;
            display: flex; 
            justify-content: space-between;
            align-items: center;    
            padding: 15px 20px;
            box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
            -2px -2px 12px rgba(255, 255, 255, 0.5),
            inset 2px 2px 4px rgba(255, 255, 255, 0.1),
            2px 2px 8px rgba(0, 0, 0, 0.15);
            span{
                transition: all .3s ease-in;
            }
            &.active-title span:before,&.active-title span:after{
                background: $red;

            }
            &.active-title span{
                
                transform: rotate(45deg); 
                border-right-color: $red;
                border-bottom-color: $red;
            }
        }
        &__title span{
           width: 10px;
           height: 10px; 
           transform: rotate(-45deg);
           border-bottom: 1px solid $black;
           border-top: 1px solid transparent;
           border-right: 1px solid $black;
           border-left: 1px solid transparent;
           transition: all .3s ease;
           
        }
        &__text{
            padding-top: 10px;
            line-height: 1.2em;
            display: none;
            padding: 30px 20px;
            box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
            inset -2px -2px 12px rgba(255, 255, 255, 0.5),
            inset 2px 2px 4px rgba(255, 255, 255, 0.1),
            inset 2px 2px 8px rgba(0, 0, 0, 0.15);
        }
    }
}
