.title{
    font-weight: 70;
    font-size: 30px;
    color: $white;
    text-align: center;
    padding-bottom: 40px;
    h3{
     position: relative;
     display: inline-block;
    &::before, &::after{
        content: '';
        position: absolute;
        display: inline-block;
        height: 1px;
        width: 30px;
        background: $light-grey;
        top: 50%;
        transform: translateY(-50%);

    }   
    &::before{
        left: -45px;
    }
    &::after{
        right: -45px;
    }
    }
    &_black{
        color: $black;
        h3{
           &::before, &::after{
               background: $dark-grey;
           } 
    }
   
}
}